{% extends "base.html" %}

{% block content %}
<h1>Add Push Ups</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.dateAdded.label(class="form-control-label") }}
            {{ form.dateAdded(class="form-control DateTimeField") }}
          </div>
          <div class="mb-3">
            {{ form.count.label(class="form-control-label") }}
            {{ form.count(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.winner.label(class="form-control-label") }}
            {{ form.winner(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Add Correctly Done Push ups</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h1>Push Ups Timeline</h1>
    <div id="timeline" class="mt-4"></div>
    <button id="loadMoreBtn" class="btn btn-primary mt-4">Load More</button>
  </div>
  
  {% endblock %}

 

  {% block javascriptCode %}
  <!-- This works. Look at base.html for all the other JS changes -->

  <script>
    var startDate = new Date();
    var endDate = new Date();
    startDate.setDate(endDate.getDate() - 14);

    loadTimeline(startDate, endDate, ['pushups']);

    $('#loadMoreBtn').on('click', function () {
        startDate.setDate(startDate.getDate() - 14);
        loadTimeline(startDate, endDate, ['pushups']);
    });

  </script>

  <script>console.log("Push Ups");</script>
  {% endblock javascriptCode %}

