{% extends "base.html" %}

{% block content %}
  <div class="container border border-dark bg-light rounded-top">
    <h1 class="pt-2">Add Push Ups</h1>
    <hr></hr>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.dateAdded.label(class="form-control-label") }}
            {{ form.dateAdded(class="form-control DateTimeField") }}
          </div>
          <div class="mb-3">
            {{ form.count.label(class="form-control-label") }}
            {{ form.count(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.winner.label(class="form-control-label") }}
            {{ form.winner(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary m-4">Add Correctly Done Push ups</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-5 border border-dark bg-light rounded-top">
    <h1 class="pt-2">Push Ups Timeline</h1>
    <div id="timeline" class="mt-4"></div>
    <div class="text-center">
      <button id="loadMoreBtn" class="btn btn-primary m-4">Load More</button>
    </div>
  </div>
  
  {% endblock %}

 

  {% block javascriptCode %}

  <script>
    var startDate = new Date();
    var endDate = new Date();
    startDate.setDate(endDate.getDate() - 14);

    loadTimeline(startDate, endDate, ['pushups']);

    $('#loadMoreBtn').on('click', function () {
        startDate.setDate(startDate.getDate() - 14);
        loadTimeline(startDate, endDate, ['pushups']);
    });

  </script>

  {% endblock javascriptCode %}

