{% extends "base.html" %}

{% block content %}

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">General Information</h1>
    <hr></hr>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-4">

        <div class="col">
            <div class="card text-center">
                <div class="card-header">Amount</div>
                <div class="card-body">
                    <div class="card-text">
                        18-20grams for a single serving. 44-46grams for 2 servings.
                    </div>
                    <p class="card-text">
                        Need Chart
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <div class="card-header">Brew Temperature</div>
                <div class="card-body">
                    <div class="card-text">
                        Typical brew temperature: 202-204F
                    </div>
                    <p class="card-text">
                        <div id='brewTempChart' class='chart'></div> 
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <div class="card-header">Ratio</div>
                <div class="card-body">
                    <div class="card-text">
                        16grams of water for every 1gram of coffee. 16:1
                    </div>
                    <p class="card-text">
                        <div id='ratioChart' class='chart'></div> 
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <div class="card-header">Grinder Adjustment</div>
                <div class="card-body">
                    <div class="card-text">
                        To the left is finer. Right is coarser.
                    </div>
                    <p class="card-text">
                        <div id='ratioChart' class='chart'></div> 
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">Chemex</h1>
    <hr></hr>
    <div class="row m-2">
        <ul>
            <li>Great for multiple servings. Use pour over for single serving.</li>
            <li>Three folds of the filter towards the spout.</li>
        </ul>
    </div>
    <div id='chemexGrindChart' class='chart'></div>
</div>

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">Pour Over</h1>
    <hr></hr>
    <div class="row m-2">
        <ul>
            <li>Multiple or Single serving.</li>
            <li><i>Cleaner</i> cup than Chemex. Not as clean as the V60.</li>
        </ul>
    </div>
    <div id='pourOverGrindChart' class='chart'></div>
</div>

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">V60</h1>
    <hr></hr>
    <div class="row m-4">
        <ul>
            <li>Single Serving.</li>
            <li>Cleanest cup.</li>
        </ul>
    </div>
    <div class="row m-2">
        <h5>Flash brew/Japanese Iced Coffee</h5>
        <p>Replace half the water with ice for a cold brew. Add flavorings and sweetner.</p>
    </div>
    <div id='v60GrindChart' class='chart'></div>
</div>

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">Moka Pot</h1>
    <hr></hr>
    <div class="row m-4">
        <ul>
            <li>Grind about 21 grams of coffee.</li>
            <li>Do not use ration. Fill to mark on bottom vessel.</li>
            <li>Set stove to just over medium.</li>
            <li>Use 3D printed wrench to torque moka pot together.</li>
        </ul>
    </div>
    <div id='mokaPotGrindChart' class='chart'></div>
</div>

<div class="container mt-5 border border-dark bg-light rounded-top pb-2">
    <h1 class="pt-2">Cold Brew</h1>
    <hr></hr>
    <div class="row m-4">
        <ul>
            <li>Use Hario container with built-in filter.</li>
            <li>Grind about 122 grams of coffee.</li>
            <li>Fill with water. Let sit about 24 hours at room temperature.</li>
        </ul>
    </div>
    <div id='coldBrewGrindChart' class='chart'></div>
</div>

{% endblock %}

{% block javascriptCode %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>

    var chemexGrind = {{figsDivs['grindChemexFig'] | safe}};
    Plotly.plot('chemexGrindChart', chemexGrind, {});

    var pourOverGrind = {{figsDivs['pourOverGrind'] | safe}};
    Plotly.plot('pourOverGrindChart', pourOverGrind, {});

    var v60Grind = {{figsDivs['v60Grind'] | safe}};
    Plotly.plot('v60GrindChart', v60Grind, {});

    var mokaPotGrind = {{figsDivs['mokaPotGrind'] | safe}};
    Plotly.plot('mokaPotGrindChart', mokaPotGrind, {});

    var coldBrewGrind = {{figsDivs['coldBrewGrind'] | safe}};
    Plotly.plot('coldBrewGrindChart', coldBrewGrind, {});

    var brewTemp = {{figsDivs['brewTemp'] | safe}};
    Plotly.plot('brewTempChart', brewTemp, {});

    var ratio = {{figsDivs['ratio'] | safe}};
    Plotly.plot('ratioChart', ratio, {});

</script>

  {% endblock javascriptCode %}