{% extends "base.html" %}

{% block content %}
  <h1>Create a new user</h1>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.firstName.label(class="form-control-label") }}
            {{ form.firstName(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.middleName.label(class="form-control-label") }}
            {{ form.middleName(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.nickName.label(class="form-control-label") }}
            {{ form.nickName(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.lastName.label(class="form-control-label") }}
            {{ form.lastName(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.dob.label(class="form-control-label") }}
            {{ form.dob(class="form-control DateTimeField") }}
          </div>
          <div class="mb-3">
            {{ form.mf.label(class="form-control-label") }}
            {{ form.mf(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.familyRelationship.label(class="form-control-label") }}
            {{ form.familyRelationship(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.admin.label(class="form-control-label") }}
            {{ form.admin(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.pictureFilename.label(class="form-control-label") }}
            {{ form.pictureFilename(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Update User</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
