{% extends "base.html" %}

{% block content %}
<h1>Fly Kills</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.dow.label(class="form-control-label") }}
            {{ form.dow(class="form-control DateTimeField") }}
          </div>
          <div class="mb-3">
            {{ form.winner.label(class="form-control-label") }}
            {{ form.winner(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.points.label(class="form-control-label") }}
            {{ form.points(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Confirm Kill</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h1>Flys Timeline</h1>
    <div id="timeline" class="mt-4"></div>
    <button id="loadMoreBtn" class="btn btn-primary mt-4">Load More</button>
  </div>

{% endblock %}

{% block javascriptCode %}
  <!-- This works. Look at base.html for all the other JS changes -->

  <script>
    var startDate = new Date();
    var endDate = new Date();
    startDate.setDate(endDate.getDate() - 14);

    loadTimeline(startDate, endDate, ['flys']);

    $('#loadMoreBtn').on('click', function () {
        startDate.setDate(startDate.getDate() - 14);
        loadTimeline(startDate, endDate, ['flys']);
    });

  </script>

  <script>console.log("Flys");</script>
  {% endblock javascriptCode %}