{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">User Profiles</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for user in users %}
        <div class="col">
            <div class="card border-dark mb-3" style="max-width: 400px;">
                <div class="row">
                    <div class="col-md-3">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.firstName }} {{user.middleName}} {{ user.lastName }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary"><i>"{{user.nickName}}"</i></h6>
                            <p class="card-text"><i class="bi bi-gift"></i> {{ user.dob }}</p>
                            <p class="card-text"><i class="bi bi-diagram-3"></i> Relationship</p>
                            <p class="card-text"><i class="bi bi-envelope-at"></i> Email</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <span class="badge bg-dark">{{results[ user.firstName ]}}</span> Points
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}