{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">User Profiles</h1>
    <hr>
    <div class="row">
        {% for user in users %}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- <img src="{{ user.profile_picture }}" class="card-img-top" alt="Profile Picture"> -->
                needs image
                <div class="card-body">
                    <h5 class="card-title">{{ user.firstName }} {{user.middleName}} {{ user.lastName }}</h5>
                    <h6><i>"{{user.nickName}}"</i></h6>
                    <!-- <p class="card-text">Email: {{ user.email }}</p> -->
                    <p class="card-text">Born: {{ user.dob }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}